/* Global Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Calculator Container */
.calc {
  width: 400px;
  background-color: black;
  color: white;
  border: 2px solid black;
}

/* Screen */
.screen {
  font-family: "Courier New", Courier, monospace;
  text-align: right;
  padding: 20px 5px;
  color: white;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.expression {
  font-size: 24px;
  color: lightgray;
}

.result {
  font-size: 40px;
  color: white;
}

/* Button Styles */
.calc-button {
  background-color: #d8d9db;
  color: black;
  height: 100px;
  width: 24.5%;
  border: none;
  font-size: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.calc-button.double {
  width: 49.7%;
}

.calc-button.triple {
  width: 49.7%;
}

/* Button Hover & Active States */
.calc-button:hover {
  background-color: #ebebeb;
}

.calc-button:active {
  background-color: #bbbcbe;
}

/* Special Button: Equals */
.calc-button:last-child {
  background-color: #df974c;
  color: white;
}

.calc-button:last-child:hover {
  background-color: #dfb07e;
}

.calc-button:last-child:active {
  background-color: #dd8d37;
}

/* Button Row */
.calc-button-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5%;
}

.calc-button-row:last-child {
  margin-bottom: 0;
}

.clear {
  font-size: 32px;
  background-color: #d8d9db;
  color: #df974c;
  font-weight: bold;
}

p {
  margin: 2%;
  text-align: center;
  color: #ccc;
  border-bottom: 1px solid #ccc;
}

span {
  color: #df974c;
}
